<p class="text-center text-gray-500 text-xs">
  ©<%= Time.current.year %> Smartpay by
  <a href="https://smartpay.com" target="_blank" rel="noopener noreferrer">Gcubed</a>.
  All rights reserved.
</p>
